<p>Hello</p>

{{!-- <div class="card" style="width: 90%;">
        <div class="card-body p-0 border-dark">
        <div class="postHeader">
          <h5> <a href="/post/{{id}}">{{title}}</a></h5>
          <p>Posted by {{user.username}} on {{format_date date_created}}
          </p>
        </div>
          <p class="card-text p-3">{{content}}</p>
        </div>
      </div> --}}

    {{!-- <div class="card" style="width: 90%;">
        <div class="card-body p-0 border-dark">
        <div class="postHeader">
          <h5> <u> Comment</u></h5>
        </div>
        <div class="content">
        <textarea row="4" id="userComment" placeholder="Add Comment Here"></textarea>
        <button class="btn btn-primary addComment">Submit</button>
        </div>
        </div>
      </div> --}}
      {{!-- <div>
     {{#if comments.length}}
     {{#each comments as |comment|}}
     {{> comment-part}}
     {{/each}}
     {{/if}}
     </div> --}}

    

      